@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed';

html, body, a, p, i, strong, b, label, input, textarea, div, span {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
}

/* Main Page */

#library {
  margin-top: -1px;
  border-radius: 0px;
}